// FONTS

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');

$font-family-sans-serif: 'Raleway', sans-serif;
$component-active-bg:#E56353;
// THEME COLORS

$theme-site-jardin: (
    'white':#fff,
    'green-dark':#3BB740,
    'green':#6BD05A,
    'green-soft':#AEEDA4,
    'damasco': #ECA076,
    'damasco-soft':#F8D2BD,
    'salmon': #E97F72,
    'pastel': #F0A9A1,
    'black': #111010,
    'granite': #858886,
    'taupe': #91918D,
    'gray': #D9D9D9
);

// FONTS SIZES

$font-sizes-site-jardin:(
        'xx-large': 100px,
        'x-large': 70px,
        'large': 50px,
        'medium': 18px
);

// TOOLTIPS 

$tooltip-bg: #A0A0A0;

// BUTTONS

$enable-shadows:true;
$enable-gradients:true;

$btn-padding-x: 3em;
$btn-padding-x-sm: 2em;
$btn-padding-x-lg: 4em;

$btn-border-radius: 5rem;
$btn-border-radius-sm: 5rem;
$btn-border-radius-lg: 5rem;

// DECLARATION

@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins';

$theme-colors: map-merge($theme-colors, $theme-site-jardin);
$font-sizes:map-merge($font-sizes, $font-sizes-site-jardin);
